---
layout: default
---

<div id="post" class="container">

	<div class="postthumb"><img src="/thumbnails/{{ page.thumbnail }}"  alt="{{ page.title }}"/></div>

	<h2>{{ page.title }}</h2>

	<p>{{ page.title }}. It is developed by
    
	<a class="users" target="_blank" href="">
		<img height="36" weight="36" src="" alt="" class="avatar-post avatar-post-jq" title=""> 
		</a>. 
		<span class="desc"></span>
	</p>
	<br>
		<span class="badge badge-dark">
			<i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;
			<span class="stars"></span>
		</span>
		<span class="badge badge-dark">
			<i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;
			<span class="forks"></span>
		</span>
		<span class="badge badge-dark">
			<i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
			<span class="date"></span>
		</span>
	
	
	
	<div class="meta clearfix">
		<strong>Author:</strong> {{ page.author | capitalize }}

		{% if page.license %}
			<br /><strong>License:</strong> {{ page.license }}
		{% endif %}

		<br /><br />
		{% if page.homepage %}
			<a class="btn" href="{{ page.homepage }}" title="Homepage"><i class="icon-home"></i> Homepage</a>
		{% endif %}
		{% if page.download %}
			<a class="btn" href="{{ page.download }}" title="Download"><i class="icon-download-alt"></i> Download</a>
		{% endif %}
		{% if page.demo %}
			<a class="btn" href="{{ page.demo }}" title="Demo"><i class="icon-road"></i> Demo</a>
		{% endif %}
		{% if page.license_link %}
			<a class="btn" href="{{ page.license_link }}" title="License"><i class="icon-file"></i> License</a>
		{% endif %}
	</div>


	<div class="post-content">
	{{ content }}
	</div>

</div>
